*{
    margin: 0;
    padding: 0;
    
}

ul li{
    text-decoration: none;
    list-style: none;
}

.assets__list{
    width: 350px;
    border: solid grey 1px;
    
}
.assets__menu{
    height: 600px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: scroll;
   
}

.assets__img{
    width: 200px;
    height: 200px;
    padding-top: 10px;

}

::-webkit-scrollbar{
    width: 5px;

}
::-webkit-scrollbar-track {
    
  }

::-webkit-scrollbar-thumb{
    background-color:#810CA8;
    border-radius: 10px;
    margin-right: 2px;
}